.body {
	max-width: none;
	margin: 0px;
	font-family: Helvetica;
	min-height: 100%;
/*	display: block;*/
}

.container {
	max-width: 1400px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 40px;
	padding-right: 40px;
	padding-left: 40px;
}

.content {
	display: flex;
	margin-right: 0px;
	margin-left: 0px;
	flex-wrap: nowrap;
}
.aboutphoto {
	-webkit-box-flex: 0;
	flex: 0 0 auot;
}
img {
	width: 50vh;
  height: 50vh;
	display: inline-block;
}
.aboutintro {
	font-family: Helvetica;
	color: #353535;
    font-size: 14px;
    line-height: 20px;
   /* margin-top: 84px;*/
    margin-left: 2vw;
}
.heading {
	margin-left: 0px;
	font-family: Helvetica;
	font-size: 8vw;
	line-height: 10vw;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}
.paragraph {
	margin-bottom: 16px;
	font-family: Helvetica;
	font-size: 20px;
	line-height: 26px;
}

/* two projects */

.project-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.project-image {
  display: block;
  width: 30vh;
  height: 30vh;
}
.wrapper {
  justify-content: space-evenly;
  font-family: helventica;
/*  width: 80%;*/
  margin: 0 auto;
  position: relative;
}
.c-content {
  white-space: nowrap;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #555;
  font-size: 20px;
  overflow: hidden;
}

a:-webkit-any-link {
  text-decoration: none;
}
.content span {
  font-size: 15px;
  display: block;
  align-items: center;
  justify-content: center;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: pink;
  width: 30vh;
  height: 0;
  transition: .5s ease;
  overflow: hidden;
}
.wrapper:hover .overlay {
  bottom: 0;
  height: 100%;
}


/* footer */
.footer {
	background-color: white;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
.footercon {
	display: flex;
	height: 80px;
	padding: 40px 40px 10px;
	algin
}
.footerp {
	font-family: Helvetica;
	font-size: 1rem;
	color: #555;
}
.footerletter {
  text-decoration: none;
  color: #555555;
}
.email {
	flex: auto;
}
.social {
	font-family: Helvetica;
	font-size: 1rem;
/*	color: #555;
*/	text-decoration: none;
	margin: 16px 0;
	font-style: normal;
	color: inherit;
}

