body {
  margin: 0;
  background-color: #f4f4f2;
  font-family: helvenica;
  font-size: 18px;
  display: block;
}
section {
  position: relative;
  width: 100%;
}
@media (min-height: 620px) and (min-width: 300px), (min-width: 1280px) section.home-top {
  padding-top: 140px
}
@media only screen
    and (device-width: 428px)
    and (device-height: 926px)
    and (-webkit-device-pixel-ratio: 3) { }
.container {
  position: relative;

}

.home-top img{
  max-width: 100%;
  height: auto;
  opacity: 0.60;
}

.banner-header-wrapper{
  position: absolute;
  top: 8rem;
  margin-left: 6rem;

}
.banner-header-row {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.banner-header-words {
  position: relative;
}
.banner-header-words h1 {
  font-size: 10vw;
  margin: 0 auto;

}
.banner-header a {
  font-size: 88px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-rendering: optimizeLegibility;
}
#banner-a-change-color {
  text-decoration: none;
  color: red;
}


/* project */

@media (min-height: 620px) and (min-width: 300px) section.project {
  padding-top: 140px;
}

.home-project {

}

@media (min-width: 1480px).project-wrapper{
  max-width: 1480px;
  margin: 0 auto;
}
.project-image {
  display: block;
  width: 30vh;
  height: 60vh;
}
.project-list {
  justify-content: space-evenly;
  font-family: helventica;
  margin: 0 auto;
  display:flex;
  position: relative;
}
.project-wrapper {
  display: flex;
}
.overlay-content {
  white-space: nowrap;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #555;
  font-size: 20px;
  overflow: hidden;
}
.project_index {
  display: flex;
  justify-content: space-between;
}
.a {
  margin-top: 100px;
  text-decoration: underline;
  color: #555;
}
a:-webkit-any-link {
  text-decoration: none;
}
.content span {
  font-size: 15px;
  display: block;
  align-items: center;
  justify-content: center;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: pink;
  width: 30vh;
  height: 0;
  transition: .5s ease;
  overflow: hidden;
}
.project-list:hover .overlay {
  bottom: 0;
  height: 100%;
}


















